p {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:red;
    border: 1px dotted gray;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    background-color: lightblue;
}